.heading {
    text-align: center;
    padding-bottom: 30px;
    color: #17a2b8;
}

a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.button-bar {
    text-align: center;
}

ul {
    list-style-type: none
}

.postDiv {
    border: solid 1px black;
    border-radius: 5px;
    margin: 10px;
    min-height: 100px;
    background-color: #17a2b8;
}

li {
    display: flex;
    list-style: none;
    padding: 10px 20px;
    font-weight: 500;
    justify-content: space-around;
    word-wrap: break-word;
    text-align: justify;
    /* position: relative; */
}

.deleteButton {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
    align-items: center;
}